
socket::rTimeout_s = 30
socket::rTimeout_ms = 200

socket::wTimeout_s = 30
socket::wTimeout_ms = 200

connect::Timeout_s = 90
connect::Timeout_ms = 200

#socket::listenTimeout_s = "computecore"
socket::listenTimeout_s = 5
socket::listenTimeout_ms = 0

#socket::listenTimeout_ras = "reactor"
socket::listenTimeout_ras = 2
socket::listenTimeout_rams = 0


socket::TimeoutRetry = 5










